.meal {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  max-width: 380px;
  height: 160px;
  justify-content: space-between;
  margin: 20px 20px 20px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.meal:hover {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
}

.meal .title {
  height: 40px;
}

span {
  font-size: 17px;
  font-weight: 500;
  color: #808484;
}

.popular {
  color: #ff8000;
  font-weight: extra-bold;
  font-size: 13px;
}

main img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  margin-left: 10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

li {
  list-style: none;
  flex: 1 44%;
}

li div span {
  font-weight: bold;
}

.recette {
  color: #808484;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  max-height: 40px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
